h1{
	color: #72C9B9;
	font-size: 40px;
	margin: 15px 15px 15px 20px;
}

#about-me{
	width: 50%;
	margin: 10px auto;
}

#destinote-1{
	margin-right: 20px;
}

#destinote-2{
	margin-left: 20px;
}

body, html{

	text-align:center;
}

h5{

}